.button2 {
	display: inline-block;
	width: 75px;
	height: 27px;
	text-align: center;
	text-decoration: none;
	outline: none;
	border: 1px solid #B2B1AF;
	background-color: #BFBEBC;
	background-image: -webkit-linear-gradient(top, #BFBEBC, #ABA79F);
	background-image: linear-gradient(to bottom, #BFBEBC, #ABA79F);
	border-radius: 2px;
	color: #fff;
	line-height: 25px;
	-webkit-transition: none;
	transition: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.button2::before,
.button2::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button2,
.button2::before,
.button2::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.button2:hover {
	border:1px solid #8F8E8B;
	background-color: #A1A09E;
	background-image: -webkit-linear-gradient(top, #A1A09E, #898780);
	background-image: linear-gradient(to bottom, #A1A09E, #898780);
}
.button2:active {
	background: #898780;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
	color: #555554;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
}