.button {
	display: inline-block;
	width: 75px;
	height: 27px;
	text-align: center;
	text-decoration: none;
	outline: none;
	border: 1px solid #f79000;
	background-color: #ffa500;
	background-image: -webkit-linear-gradient(top, #ffa500, #ff8c00);
	background-image: linear-gradient(to bottom, #ffa500, #ff8c00);
	border-radius: 2px;
	color: #fff;
	line-height: 25px;
	-webkit-transition: none;
	transition: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.button::before,
.button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button,
.button::before,
.button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.button:hover {
	border:1px solid #ce8600;
	background-color: #d37b00;
	background-image: -webkit-linear-gradient(top, #d37b00, #dd8800);
	background-image: linear-gradient(to bottom, #d37b00, #dd8800);
}
.button:active {
	background: #dd8800;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
	color: #bc7d00;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
}