body {
	font-family: "ヒラギノ角ゴシック", "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 100%;
}
.fontsize90 {
	font-size: 90%;
}
.fontsize80 {
	font-size: 80%;
}
.fontsize70 {
	font-size: 70%;
}
.fontsize60 {
	font-size: 60%;
}
.fontsize50 {
	font-size: 50%;
}
.fontsize40 {
	font-size: 40%;
}
.fontsize30 {
	font-size: 30%;
}
.fontsize20 {
	font-size: 20%;
}
.fontsize10 {
	font-size: 10%;
}

