body {
	margin: 0;
	padding: 0;
}

#top_frame {
	background-color: #696969;
	color: #fff;
	filter: alpha(opacity=70);
	height:130px;  /* フレームの高さ */
	left: 0;
	margin: 0;
	-moz-opacity: 0.7;
	padding: 0;
	position: fixed;
	_position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
}

#under_frame {
	margin: 140px 0 0 0; /* ヘッダーの高さ分をマージンで空けておく */
	_overflow: auto;
	padding: 0;
}